# -----------------------------------------------
# 🔸 StrangerMusic Project
# 🔹 Developed & Maintained by: Shashank Shukla (https://github.com/itzshukla)
# 📅 Copyright © 2022 – All Rights Reserved
#
# 📖 License:
# This source code is open for educational and non-commercial use ONLY.
# You are required to retain this credit in all copies or substantial portions of this file.
# Commercial use, redistribution, or removal of this notice is strictly prohibited
# without prior written permission from the author.
#
# ❤️ Made with dedication and love by ItzShukla
# -----------------------------

aiofiles
aiogram
ntgcalls
aiohttp
apscheduler
asyncio
bard
stripe==10.7.0
mysql-connector-python==9.0.0
telebot
bing_image_downloader
beautifulsoup4
rapidfuzz
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
gitpython
gpytranslate
gtts
groq
tgcrypto>=1.2.5
hachoir
heroku3
httpx
img2pdf
instaloader
kurigram
lexica-api
motor
numpy
openai
opencv-python
pillow
psutil
pymongo
pickledb
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
pyrotgfork >= 2.2.20
python-dotenv
python-telegram-bot>=22.6
python-whois
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls>=2.2.0
pyyaml
qrcode
requests
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
py-yt-search
aiofiles
aiohttp
apscheduler
beautifulsoup4
cloudscraper
dnspython
Faker
ffmpeg-python
gitpython
gpytranslate
gtts
hachoir
httpx
img2pdf
motor
numpy
pickledb
pillow
psutil
pycountry
pycryptodome
pydub
pyfiglet
pymongo
pyrogram
pyshorteners
python-dotenv
python-whois
pytz
pyyaml
qrcode
rapidfuzz
requests
spotipy
telegraph
tgcrypto
unidecode
youtube-search-python
yt-dlp
